# Скопируйте этот файл в .env и заполните значения
# cp .env.example .env
# lalalala
#kskjsf;ksjdfhskdf;

# Django
SECRET_KEY=замените-на-случайную-строку-минимум-50-символов
DEBUG=0
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
POSTGRES_DB=shower_booking
POSTGRES_USER=postgres
POSTGRES_PASSWORD=надёжный-пароль

# Telegram (опционально)
TELEGRAM_BOT_TOKEN=ваш-токен-бота
TELEGRAM_CHAT_ID=ваш-chat-id
