Nothing needs to be added to .gitignore since the only change is a template file modification (`comments-service/app/templates/app/comments.html`) which is a source file that should be tracked in version control.